
@model IEnumerable<nyikoStudyGroup.Models.StudentModel>

@{
    ViewBag.Title = "ListStudents";
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">


<h2>ListStudents</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(Model => Model._studentNumber)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model._name)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model._surname)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model._emailAddress)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.myLink)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.Id)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item._studentNumber)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item._name)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item._surname)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item._emailAddress)
            </th>
            <th>
                <a href="@Url.Content(item.myLink)" class="btn btn-dark" >My Link</a>
            </th>
            <th>
                <a href="@Url.Action("Delete", "Student", new { i = item.Id })" class="btn btn-dark" >Delete</a>
            </th>
        </tr>
    }

</table>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>